apiVersion: apps/v1
kind: Deployment
metadata:
  name: fullname
  labels: {{ labels | indent(4) }}
spec:
  selector:
    matchLabels: {{ "matchLabels" | indent(6) }}
  replicas: {{ replicaCount }}
  template:
    metadata:
      labels: {{ labels | indent(8) }}
      {%- if podAnnotations is defined or (metrics.enabled and metrics.podAnnotations) %}
      annotations:
      {%- endif %}
    spec:
{{- "imagePullSecrets" | indent(6) }}
      containers:
        - name: nginx
          image: {{ "nginx.image" }}
          imagePullPolicy: {{ image.pullPolicy | quote }}
          ports:
            - name: http
              containerPort: 8080
          {%- if livenessProbe is defined %}
          livenessProbe: {{- livenessProbe | to_yaml | indent(12) }}
          {%- endif %}
          {%- if readinessProbe is defined %}
          readinessProbe: {{- readinessProbe | to_yaml | indent(12) }}
          {%- endif %}
          {%- if resources is defined %}
          resources: {{- resources | to_yaml | indent(12) }}
          {%- endif %}
          {%- if serverBlock is defined %}
          volumeMounts:
            - name: nginx-server-block
              mountPath: /opt/bitnami/nginx/conf/server_blocks
          {%- endif %}
        {%- if metrics.enabled %}
        - name: metrics
          image: {{ "nginx.metrics.image" }}
          imagePullPolicy: {{ metrics.image.pullPolicy | quote }}
          command: ['/usr/bin/exporter', '-nginx.scrape-uri', 'http://127.0.0.1:8080/status']
          ports:
            - name: metrics
              containerPort: 9113
          livenessProbe:
            httpGet:
              path: /metrics
              port: metrics
            initialDelaySeconds: 15
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /metrics
              port: metrics
            initialDelaySeconds: 5
            timeoutSeconds: 1
          {%- if metrics.resources %}
          resources: {{- metrics.resources | to_yaml | indent(12) }}
          {%- endif %}
        {%- endif %}
      {%- if serverBlock is defined %}
      volumes:
        - name: nginx-server-block
          configMap:
            name: {{ "nginx.fullname" }}
      {%- endif %}