{%- if ingress.enabled %}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: fullname
  labels: {{- labels | indent(4) }}
  annotations:
    {%- if ingress.certManager %}
    kubernetes.io/tls-acme: "true"
    {%- endif %}
    {% if ingress.annotations is defined and ingress.annotations %}
    {%- for key, value in ingress.annotations.iteritems() %}
    {{ key }}: {{ value | quote }}
    {%- endfor %}
    {% endif %}
spec:
  rules:
    {%- if ingress.hostname %}
    - host: {{ ingress.hostname }}
      http:
        paths:
          - path: /
            backend:
              serviceName: fullname
              servicePort: http
    {%- endif %}
    {% if ingress.hosts is defined %}
    {% for host in ingress.hosts %}
    - host: {{ host.name }}
      http:
        paths:
          - path: {{ host.path }}
            backend:
              serviceName: fullname
              servicePort: http
    {%- endfor %}
    {% endif %}
  {%- if ingress.tls %}
  tls: {{- ingress.tls | to_yaml | indent(4) }}
  {%- endif %}
{%- endif %}