apiVersion: v1
kind: Service
metadata:
  name: fullname
  labels: labels
  {%- if service.annotations or (metrics.enabled and metrics.service.annotations) %}
  annotations:
  {%- endif %}
spec:
  type: {{ service.type }}
  {%- if service.type=="LoadBalancer" or service.type=="NodePort" %}
  externalTrafficPolicy: {{ service.externalTrafficPolicy | quote }}
  {%- endif %}
  {%- if service.type=="LoadBalancer" and service.loadBalancerIP is defined %}
  loadBalancerIP: {{ service.loadBalancerIP }}
  {%- endif %}
  ports:
    - name: http
      port: {{ service.port }}
      targetPort: http
      {%- if (service.type=="NodePort" or service.type=="LoadBalancer") and service.nodePorts.http is defined %}
      nodePort: {{ service.nodePorts.http }}
      {%- endif %}
    - name: https
      port: {{ service.httpsPort }}
      targetPort: https
      {%- if (service.type=="NodePort" or service.type=="LoadBalancer") and service.nodePorts.https is defined %}
      nodePort: {{ service.nodePorts.https }}
      {%- endif %}
    {%- if metrics.enabled %}
    - name: metrics
      port: {{ metrics.service.port }}
      targetPort: metrics
    {%- endif %}
  selector: {{ "matchLabels" | indent(4) }}