{%- if metrics.enabled and metrics.serviceMonitor.enabled %}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: fullname
  {%- if metrics.serviceMonitor.namespace is defined %}
  namespace: {{ metrics.serviceMonitor.namespace }}
  {%- endif %}
  labels: labels
    {% if metrics.serviceMonitor.selector is defined %}
    {%- for key, value in metrics.serviceMonitor.selector.iteritems() %}
    {{ key }}: {{ value | quote }}
    {%- endfor %}
    {% endif %}
spec:
  selector:
    matchLabels: {{ labels | indent(6) }}
  endpoints:
    - port: metrics
      path: /metrics
      {%- if metrics.serviceMonitor.interval is defined %}
      interval: {{ metrics.serviceMonitor.interval }}
      {%- endif %}
      {%- if metrics.serviceMonitor.scrapeTimeout is defined %}
      scrapeTimeout: {{ metrics.serviceMonitor.scrapeTimeout }}
      {%- endif %}
  namespaceSelector:
    matchNames:
      - "Release.Namespace"
{%- endif %}