{% if ingress.enabled %}
{% for secret in ingress.secrets %}
apiVersion: v1
kind: Secret
metadata:
  name: fullname
  labels: labels
type: kubernetes.io/tls
data:
  tls.crt: {{ secret.certificate | b64encode }}
  tls.key: {{ secret.key | b64encode }}
---
{% endfor %}
{% endif %}